body, input, select {
  font-family: helvetica, arial, sans-serif;
  font-size: 9pt;
  padding: 0;
  cursor: default;
}

.mono {
  font-family: monospace;
  font-size: 10pt;
}

#memo {
  width: 380px;
}

#min_w, #min_h {
  width: 30px;
}

#edit_view {
  position: relative;
  left: 0;
  top: 5px;
}

#edit_mes {
  background-color: #ffff00;
}

#edit_menu {
  position: absolute;
  z-index: 2;
}

#editor {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}

#cursor {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

#hx {
  visibility: visible;
  position: absolute;
  z-index: 1;
  left: 0;
}

#pixel_x {
  width: 30px;
}

/* ----------------------------- */
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.wrapper {
	height: 100vh;
	width: 100vw;
	background: #333;
	border: 6px solid #666;
	display: flex;
}

.pane {
	padding: 1em;
	color: #fff;
	min-width: 200px;
}

.left {

}

.right {
	position: relative;
}

.gutter {
	width: 10px;
	height: 100%;
	background: #666;
	position: absolute;
	top: 0;
	left: 0;
	cursor: col-resize;
}



